

.experience-page {
  font-family: 'Arial, sans-serif';
  padding: 20px;
  background-color: hsl(0, 0%, 4%);
  color: #333;
}

.experience-page__header {
  text-align: center;
  padding: 20px;
  // background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
  color: white;
}

.experience-page__title {
  margin: 0;
  font-size: 40px;
}
.experience-page_subtitle {
  margin: 1px;
  font-size: 19.2px;
  color:#D7D6DC
}

.experience-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.experience-page__item {
  background:hsl(263, 92%, 10%);
  padding: 20px;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.experience-page__item-title {
  margin-top: 0;
  color: #965af5;
}

.experience-page__item-company,
.experience-page__item-description {
  margin: 5px 0;
}
.experience-page__item.left {
  animation: slideInLeft 5s forwards;
}

.experience-page__item.right {
  animation: slideInRight 5s forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px){
  .experience-page__title {
    margin: 0;
    font-size: 24px;
  }
  .experience-page_subtitle {
    margin: 1px;
    font-size: 15.36px;
    color:#D7D6DC
  }
 .experience-page__item-title{
  font-size: 15.36px;
 }
 .experience-page__item-company{
  font-size: 15.36px;
 }
 .experience-page__content{
  font-size: 15.36px;
 }
 .experience-page_subtitle{
  font-size: 15.36px;
 }
 .experience-page__item-description{
  font-size: 15.36px;
 }
}
.achievements-flowchart {
  font-family: 'Arial, sans-serif';
  padding: 20px;
  background-color: hsl(0, 0%, 4%);
  color: white;
}

.achievements-flowchart__title {
  text-align: center;
  font-size: 19.2px;
  margin-bottom: 20px;
  color: #D7D6DC;
}

.achievements-flowchart__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievements-flowchart__item {
  display: flex;
  align-items: center;
  background: hsl(263, 92%, 10%);
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.achievements-flowchart__date {
  flex: 0 0 100px;
  text-align: right;
  margin-right: 18px;
  font-size: 18px;
  color: #965af5;
}

.achievements-flowchart__content {
  flex: 1;
}

.achievements-flowchart__item-title {
  margin: 0;
  font-size: 16px;
  color: #72EDF2;
}

.achievements-flowchart__item-description {
  margin: 5px 0 0 0;
  font-size: 16px;
}

// .achievements-flowchart__item::after {
//   content: '';
//   position: absolute;
//   left: 50%;
//   bottom: -20px;
//   width: 2px;
//   height: 40px;
//   background-color: #965af5;
// }

.achievements-flowchart__item:last-child::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .achievements-flowchart__title {
    font-size: 19.2px;
    color: #D7D6DC;
  }
  
  .achievements-flowchart__date {
    font-size: 20px;
  }
  
  .achievements-flowchart__item-title {
    font-size: 20px;
  }
  
  .achievements-flowchart__item-description {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .achievements-flowchart__title {
    font-size: 15.36px;
    color: #D7D6DC;
  }

  .achievements-flowchart__container {
    padding: 0;
  }

  .achievements-flowchart__item {
    margin-bottom: 15px;
    padding: 8px;
    position: relative; /* Make sure relative positioning is applied */
  }

  .achievements-flowchart__date {
    display: none; /* Hide the date */
  }

  .achievements-flowchart__content {
    padding-left: 0; /* Ensure content starts from the left */
    margin-left: 0; /* Reset any left margin if present */
  }

  .achievements-flowchart__date,
  .achievements-flowchart__date {
    font-size: 0.8rem;
  }

  .achievements-flowchart__item-title {
    font-size: 1rem;
  }

  .achievements-flowchart__item-description {
    font-size: 0.9rem;
  }
}
